/*By Kimaiga
* {margin:0;padding:0}
html {min-width:920px} 
body {background: url(images/Nakuru.jpg);font-family: fantasy;line-height:1em;color:#4e4e4e;min-width:920px;border-top:10px solid #0c0e0e}
ul {list-style:none}*/

header, footer, article, section, hgroup, nav, figure{
display: block;
    font-family: cursive;

}


article .line{
	background-color:#15242f;
	border-bottom-color: #204656;
	margin:1.3em 0;
}

footer .line{
margin: 2em 0;
}

nav{
    background: url(images/house.jpg);
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: 4em;
    border: 1px;

}

nav ul li{

display: inline;

}

nav ul li a,
nav ul li a:visited{
    color: blue;
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    margin: 5px 2px;
    padding: 7px 10px 4px;
    text-shadow: 0 1px 1px white;
    text-transform: capitalize;
    font-family: cursive;
    width: 60px;
    
}

nav ul li a:hover{
    text-decoration: none;
    background-color: darkgreen;
}

nav, article, nav ul li a, figure{
 -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#page{
 width:960px;
    margin:0 auto;
    position: relative;
}

article{
    background: colour #213E4A;
    margin: 3em 0;
    padding: 20px;
    font-family: cursive;
    text-shadow: 0 2px 0 black;
}

figure :hover{
    -moz-box-shadow: 0 0 2px #4D7788;
    -webkit-border-shadow: 0 0 2px #4D7788;
    box-shadow: 0 0 2px #4D7788;
}

figure img{
    margin-left: -60px;
    
}

/*styling my footer*/
footer{
    margin-bottom: 30px;
    text-align: center;
    font-size: 0.825 em;
}

footer p{
    margin-bottom: -2.5 em;
    position: relative;
    }

footer a, footer a:visited{
    color: azure;
    background-color: aqua;
    padding: 2px 4px;
    z-index: 100;
    position: relative;
}

footer a.by{
float: left;
}

footer a.up{
float: right;
}
